*.env

*.log

*.pyc

GenerativeAIExamples/

# Database and Cache files
agentic-llm/grafana_data/
llm-slicing-5g-lab/kinetica-data/
*.db


# Compiled binaries and libraries
*.so
*.o
*.a
*.so.*
*.dylib
*.dll
*.exe